[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-web = "4"
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
actix-cors = "0.7.1"
dotenvy = "0.15.7"
ts-rs = "12.0.1"
